<!DOCTYPE html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/pure.css" type="text/css" />
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/flash_messages/styles.css" type="text/css" charset="utf-8" />
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/javascript.js"></script>
  </head>
  <body>
  <div id="wrapper">
  <div class="pure-g">
  <div class="pure-u-1">
    <container>
	<div class="l-box">
	<div id="home-page-header" class="pure-u-1">
		<logo><h3><%= @title %></h3></logo>
	</div>
	</div>
	<div class="pure-g">
	<div class="pure-u-1">
	<% if env['warden'].authenticated? %>
	  <b>Logged in as <%= env['warden'].user.username %></b>
          <a href="/logout" class="pure-button" title="Logout">Logout</a>
	  <br />
	  <br />
	  <br />
	<% end %>
	
	<%= erb :menu %>
	
	<% if flash[:success] %>
	  <br />
	  <div class="ml-alert-1-success">
		<div class="style-1-icon success"></div>
		  <%= flash[:success] %>
	  <div class="style-1-close success" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></div>
	</div>
	<% end %>

	<% if flash[:error] %>
	  <br />
	  <div class="ml-alert-1-error">
		<div class="style-1-icon error"></div>
		  <%= flash[:error] %>
	  <div class="style-1-close error" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></div>
	</div>
	<% end %>
	
	<% if flash[:info] %>
	  <br />
	  <div class="ml-alert-1-info">
		<div class="style-1-icon info"></div>
		  <%= flash[:info] %>
	  <div class="style-1-close info" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></div>
	</div>
	<% end %>
	
        <%= yield %>
        </div>
        </div>
    </container>
    <div class="l-box">
       <div id="footer">
         <p><div id="legal"><%= "&mdash; &copy; #{Time.now.strftime('%Y')} #{@author} &mdash;" %></div></p>
       </div>
    </div>
  </div>
  </div>
  </div>
  </body>
</html>
