<!DOCTYPE html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/pure.css" type="text/css" />
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/javascript.js"></script>
  </head>
  <body>
  <div id="wrapper">
  <div class="pure-g">
  <div class="pure-u-1">
    <container>
	<div class="l-box">
	<div id="home-page-header" class="pure-u-1">
		<logo><h3><%= @title %></h3></logo>
	</div>
	</div>
	<div class="pure-g">
	<div class="pure-u-1">
	<% if env['warden'].authenticated? %>
	  <b>Logged in as <%= env['warden'].user.username %></b>
          <a href="/logout" class="pure-button" title="Logout">Logout</a>
	  <br />
	  <br />
	  <br />
	<% end %>
	
	<%= erb :menu %>
	
	<% if flash[:success] %>
	  <div class="flash-success">
		<%= flash[:success] %>
	  </div>
	<% end %>

	<% if flash[:error] %>
	  <div class="flash-error">
		<%= flash[:error] %>
	  </div>
	<% end %>
        <%= yield %>
        </div>
        </div>
    </container>
    <div class="l-box">
       <div id="footer">
         <p><div id="legal"><%= "&mdash; &copy; #{Time.now.strftime('%Y')} #{@author} &mdash;" %></div></p>
       </div>
    </div>
  </div>
  </div>
  </div>
  </body>
</html>
