<div class="l-box">
<div id="main-menu" class="pure-menu pure-menu-open pure-menu-horizontal pure-u-1">
    <ul>
        <li><a href="/" class="<%= current?("/") %>">Home</a></li>
	<li><a href="/posts" class="<%= current?("/posts") %>">Posts</a></li>
	<li><a href="/about" class="<%= current?("/about") %>">About</a></li>
	<% unless env['warden'].authenticated? %>
	<li><a href="/login" class="<%= current?("/login") %>">Login</a></li>
	<% else %>
	<li><a href="/users" class="<%= current?("/users") %>">Admin</a></li>
	<% end %>
    </ul>
</div>
</div>

