<% unless @no_comment %>
<h4>Comments:</h4>
<% @post.each do |comments| %>
<form action="/posts/<%= "#{params[:id]}" %>" id="edit_comment" class="pure-form pure-form-stacked edit-<%= "#{comments.id}" %>" method="post">
<label for="comment">Comment nr. <%= comments.id %>:</label><br />
<div id="comment-id-<%= "#{comments.id}" %>" class="edit-<%= "#{comments.id}" %>"><%= comments.comment %></div>
<input type="hidden" name="comment[post_id]" value="<%= "#{params[:id]}" %>" />
<br />
<div id="comment-button-id-<%= "#{comments.id}" %>"><a class="pure-button comment-button edit-<%= "#{comments.id}" %>">Start editing comment</a></div>
</form>
<form action="/comments/<%= "#{comments.id}" %>/delete" id="delete_comment" class="edit-<%= "#{comments.id}" %>" method="get">
  <input type="submit" class="pure-button" value="Delete Comment" />
</form>
<% end %>
<% else %>
<p>No comment is submitted yet.</p>
<% end %>


