<% @post.each do |comments| %>
<form action="/posts/<%= "#{params[:id]}" %>" id="edit_post" class="pure-form pure-form-stacked" method="post">
<label for="comment">Edit comment:</label><br />
<div id="comment-id-<%= "#{comments.id}" %>" class="edit-<%= "#{comments.id}" %>"><%= comments.comment %></div>
<input type="hidden" name="comment[post_id]" value="<%= "#{params[:id]}" %>" />
<br />
<div id="comment-button-id-<%= "#{comments.id}" %>"><a class="pure-button comment-button edit-<%= "#{comments.id}" %>">Start editing comment</a></div>
</form>
<% end %>

